.btn-blog{
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.statement-btn{
  margin: 0 15px;
  display: block;
  padding: 10px 30px;
  background: #fff;
  border: 2px solid #2B75BB;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: 0px 0px 23px rgb(43 117 187 / 32%);
  color: #000;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.statement-btn:hover{
  background: #2B75BB;
  color: #fff;
}
.logout-btn:not([disabled]):hover {
  box-shadow: -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.logout-btn {
  position: absolute;
  top: 30px;
  right: 83px;
  width: 100px;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  padding: 0 1rem;
}
