.root {
  background: url('../login-registration/images/6974840_4365.jpg');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;

}

.loginHome1,
.loginHome2 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  padding: 0 1rem;

}
.error-Blog{
  position: absolute;
  top: 75%;
left: 50%;
background-color: white;
}
.error-Blog p{
  color: red;
}


.loginHome1 {
  position: absolute;
  top: 35%;
  left: 39%;
  width: 100px;
}

.loginHome2 {
  position: absolute;
  top: 35%;
  right: 33%;
}

.loginHome1:not([disabled]):hover {
  box-shadow:  -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.loginHome2:not([disabled]):hover {
  box-shadow:  -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}