* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
  }
  
  :root {
  --secondary-color: #422C73;
  }

  nav p {
      font-size: 40px;
      color: #fff;
      text-decoration: none;
      padding: 20px;
      text-align: center;
      cursor: pointer;
  }
  
  nav {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      height: 100vh;
      background: var(--secondary-color);
  }